$bckcolor:(

    negro:#202020,
    azul:blue,
    gris:darkgray


);


@each $colour, $color in $bckcolor{
    .back--#{$colour}{
        background-color: $color;
    }
}

.galeriaproductos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    flex-wrap: wrap;
    width: 1500px;
    margin: auto;
    margin-top: 50px;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 1px #202020;
    border-radius: 12px;
    width: 75%;
    height: 75%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;

    p{
        width: 90%;
        text-align: center;
        margin: auto;
    }

    img{
        height: 50%;
        width: 100%;
        margin: auto;
    }

}


.wrappercomponentes{
    max-width: 100%;
    max-height: 100%;
    display: grid;
    

    grid-template-areas: 
    
    "navbarcomponentes navbarcomponentes navbarcomponentes"

    "barra galeriacomp galeriacomp"


    "footercomp footercomp footercomp"
    
    ;

    grid-template-columns: 0.5fr 3fr 3fr;
    grid-template-rows: 0.5fr 6fr 1fr;
}

.navbarcomponentes{
    display: flex;
    flex-direction: row;
    background-color: #202020;
    justify-content: space-around;
    padding: 25px;

    grid-area: navbarcomponentes;
    

    a{
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
    
        font-size: large;
    }

}



.galeriaproductoscomp{
    display: grid;
    grid-area: galeriacomp;
    grid-template-columns: 1fr 1fr 1fr;
    
}


.footercomp{
    background-color: #202020;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: footercomp;
}

.barraprod{
    grid-area: barra;
    display: flex;
    flex-direction: column;
    background-color: map-get($bckcolor,gris );


    button{
        border: none;
        background-color: map-get($bckcolor,gris );
        margin-top: auto;
        margin-bottom: auto;
        border-radius: 20px;
        padding: 20px;


        button:hover{
            border: solid 2px;
            color: black;
        }
    }


}

@media screen and (max-width:600px){
    .navbarcomponentes a{
        font-size: small;
        padding: 5px;
    }

    .wrappercomponentes{
        display: flex;
        flex-direction: column;
    }

    .barraprod{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .barraprod button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
