$bckcolor:(

    negro:#202020,
    azul:blue,
    gris:darkgray


);


@each $colour, $color in $bckcolor{
    .back--#{$colour}{
        background-color: $color;
    }
}

.galeriaproductos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 70px;
    flex-wrap: wrap;
    width: 1500px;
    margin: auto;
    margin-top: 50px;
}



/* From uiverse.io by @alexruix */
.card {
    width: 500px;
    height: 700px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    justify-content: center;
    margin: auto;
   }
   
   .card-img {
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: 20px;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   




.wrappercomponentes{
    max-width: 100%;
    max-height: 100%;
    display: grid;
    

    grid-template-areas: 
    
    "navbarcomponentes navbarcomponentes navbarcomponentes"

    " galeriacomp galeriacomp galeriacomp"

    "marcas marcas marcas"




    "footercomp footercomp footercomp"
    
    ;

    grid-template-columns: 0.5fr 3fr 3fr;
    grid-template-rows: 0.2fr 4fr 1fr 0.2fr;
}

.navbarcomponentes{
    display: flex;
    flex-direction: row;
    background-color: #00bb2d;
    justify-content: space-around;
    padding: 25px;

    grid-area: navbarcomponentes;
    

    a{
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: none;
    
        font-size: large;
    }

}



.galeriaproductoscomp{
    display: grid;
    grid-area: galeriacomp;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #202020;
    
}


.footercomp{
    background-color: #00bb2d;
    color: white;
    padding: 20px;
    text-align: center;
    grid-area: footercomp;
}

.marcas{
    grid-area: marcas;
}



@media screen and (max-width:600px){
    .navbarcomponentes a{
        font-size: small;
        padding: 5px;
    }

    .wrappercomponentes{
        display: flex;
        flex-direction: column;
    }

    .barraprod{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .barraprod button{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
