$bckcolor:(

    negro:#202020,
    azul:blue,
    gris:darkgray


);


@each $colour, $color in $bckcolor{
    .back--#{$colour}{
        background-color: $color;
    }
}


@mixin size($height,$width){
    height: $height;
    width: $width;

}


.flameboardz-main{
    text-align: center;
    color: white;
}


.wrapperflameboardz{
    background-image: url(../Imagenes/abstract-background-with-red-lines.jpg)
}

.wrapperhukey{
    padding-top: 50px;
    padding-bottom: 50px;
    ;
}


.informacion-teclados{
    display: flex;
    width: 500px;
    margin: auto;

    p{
        text-align: center;
        color: white;
    }
}


.productos-teclados{

    color: white;

    a{
        display: flex;
        justify-content: center;
        font-size: x-large;
        color: white;
    }
}

.teclados{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 50px;

    p{
        width: 300px;
        font-size: xx-large;
        padding: 125px 50px 50px 25px;
        color: white; 
    }
    
    img{
        @include size(400px,600px)
        
    }
}


.teclado-1{

    @extend .teclados;
    border-bottom: solid 5px black;
    border-top: solid 5px black;
    
}

.teclado-2{

    @extend .teclados;
    margin-top: 5px;
    
    
}

@media screen and (max-width:600px){
    .navbar a{
        font-size: small;
        padding: 5px;
    }

    .informacion-teclados{
        width: 90%
    }

    .teclados img{
        width: 75%;
        height: 75%;
    }

    .teclados p{
        font-size: medium;
        width: 25%;
        padding:0;
        padding-right: 15px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
}
