.flameboardz-main{
    text-align: center;
}


.informacion-teclados{
    display: flex;
    width: 500px;
    margin: auto;

    p{text-align: center}
}


.productos-teclados a{
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.teclados{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding: 50px;

    p{
        width: 300px;
        font-size: xx-large;
        padding: 125px 50px 50px 25px;
        color: white; 
    }
    
    img{
        height: 400px;
        width: 600px;
    }
}


.teclado-1{

    @extend .teclados;

    background-color: #202020;
}

.teclado-2{

    @extend .teclados;
    margin-top: 5px;
    background-color: #202020;
    margin-bottom: 25px;
}

@media screen and (max-width:600px){
    .navbar a{
        font-size: small;
        padding: 5px;
    }

    .informacion-teclados{
        width: 90%
    }

    .teclados img{
        width: 75%;
        height: 75%;
    }

    .teclados p{
        font-size: medium;
        width: 25%;
        padding:0;
        padding-right: 15px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
}
